@tailwind base;
@tailwind components;
@tailwind utilities;

// ** Imports ** //
@import url(//db.onlinewebfonts.com/c/03bd7255184e8e8ad4d2a521fa920b6c?family=PolySans+Neutral);

// ** Resolutions ** //
$mobile: 320px;
$tablet: 481px;
$laptop: 769px;
$desktop: 1025px;
$tv: 1201px;

// ** Colors ** //
$green: rgb(60 255 208/1);
$gray: rgb(148 148 148/1);


@font-face {
  font-family: CyberpunkFont;
  src: url(/client/src/public/fonts/Cyberpunk-Regular.ttf);
}

@layer base {
  :root {
    --color-green: 60 255 208;
    --color-gray: 148 148 148;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// Generic styles //
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

// Reusable classes
.cyberpunk-font{
  font-family: CyberpunkFont;
}

.polysans-font {
  font-family: PolySans;
}

// Specific classes
.storycard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 20px;
}

.hero-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;

  @media (max-width: $desktop) {
    display: flex;
    flex-direction: column;
  }
}

.main-layout {
  padding: 30px 150px 0px 150px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;

  @media(max-width: $tv) {
    padding: 20px 96px 0px 96px;
  }

  @media(max-width: $desktop) {
    padding: 20px 96px 0px 96px;
  }

  @media(max-width: $laptop) {
    padding: 10px 48px 0px 48px;
  }
}

.contact-form-layout {
  display: grid;
  gap: 1em;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  "firstname . lastname"
  "message message message"
  ". submit .";

  min-width: 1000px;
  
  @media(max-width: $desktop) {
    min-width: 100%;
    grid-template-areas: 
      "firstname"
      "lastname"
      "message"
      "submit";
  }

  .contact-firstname {
    padding: 7px 14px;
    grid-area: firstname;

    &:focus {
      outline: $green solid 2px;
    }
  }

  .contact-lastname {
    padding: 7px 14px;
    grid-area: lastname;

    &:focus {
      outline: $green solid 2px;
    }
  }

  .contact-message {
    padding: 7px 14px;
    grid-area: message;
    resize: none;

    &:focus {
      outline: $green solid 2px;
    }
  }

  .contact-submit {
    padding: 10px 15px;
    border: 1px solid white;
    font-size: large;
    font-weight: bold;
    grid-area: submit;
    transition-property: background-color, color;
    transition: 0.2s ease-in;

    &:hover {
      background-color: $green;
      color: rgb(50, 50, 50);
    }
  }
}

.login-form-layout {
  display: flex;
  gap: 1em;
  flex-direction: column;
  border: 2px solid $green;
  padding: 20px 50px;

  input {
    padding: 10px 15px;

    &:focus {
      outline: $green solid 2px;
    }
  }

  a {
    text-decoration: 1px solid underline;
    text-underline-offset: 3px;
  }

  button {
    padding: 10px 15px;
    border: 1px solid white;
    font-size: large;
    font-weight: bold;
    grid-area: submit;
    transition-property: background-color, color;
    transition: 0.2s ease-in;

    &:hover {
      background-color: $green;
      color: rgb(50, 50, 50);
    }
  }
}
